{% extends 'common/base.html' %}

{% block title %}
    <title>Property - EstateSphere</title>
{% endblock %}

{% block content %}
    <div class="property-details-wrapper">
        <div class="property-details-card">
            <!-- Property Image -->
            <img src="{{ property.image }}" alt="Property Image">

            <!-- Property Title -->
            <div class="property-header d-flex justify-content-between align-items-center">
                <h2>{{ property.title }}</h2>
                {% if request.user.pk == property.user.pk %}
                    <div class="property-actions">
                        <a href="{% url 'property-edit' property.id %}" class="property-btn-edit">Edit</a>
                        <a href="{% url 'property-delete' property.id %}" class="property-btn-delete">Delete</a>
                    </div>
                {% endif %}
            </div>

            <!-- Property Details -->
            <div class="details">
                <span><strong>Price:</strong> ${{ property.price }}</span>
                <span><strong>Area:</strong> {{ property.area }} sq. m.</span>
                <span><strong>Price per sq. m.:</strong> ${{ property.calculate_price_per_sqm }}</span>
                <span><strong>City:</strong> {{ property.city }}</span>
                <span><strong>Address:</strong> {{ property.address }}</span>
                <span><strong>Favorited by:</strong> {{ property.favourites.count }} people</span>
                <span class="favorite-button">
                    <a href="{% url 'favourite' property.pk %}">
                        {% if has_fav %}
                            <i class="fa-solid fa-star"></i> 
                        {% else %}
                            <i class="fa-regular fa-star"></i> 
                        {% endif %}
                    </a>
                </span>

                {% if request.user == property.user %}
                    <div class="add-images-button">
                        <a href="{% url 'image-add' property.pk %}" class="btn btn-add-images">
                            Add Images
                        </a>
                    </div>
                {% endif %}
                
                {% if property.images.all %}
                    <div class="see-more-images-button">
                        <a href="{% url 'image-details' property.pk %}" class="btn btn-see-more-images">
                            See More Images
                        </a>
                    </div>
                {% endif %}
            
            </div>
            <hr>
            {% if not user_has_review and request.user.is_authenticated %}
                <form method="post" action="{% url 'review-add' property.pk %}" class="review-form">
                    {{ review_form }}
                    {% csrf_token %}
                    <button type="submit" class="review-btn">Submit Review</button>
                </form>
            {% endif %}
            <!-- Reviews Section -->
            <div class="reviews-section">
                <h3>Reviews</h3>

                {% if property.reviews.exists %}
                    {% for review in property.reviews.all %}
                        <div class="review-card">
                            <a href="{% url 'profile-details' review.user.pk %}">
                                <p class="rating">Rating: {{ review.rating }} / 5</p>
                                <p>{{ review.text }}</p>
                                <p class="date">Published on: {{ review.date_time_of_publication }}</p>

                                {% if review.user == request.user %}
                                    <div class="review-actions">
                                        <form method="post" action="{% url 'review-delete' review.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="review-btn-delete">Delete</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-reviews">No reviews yet.</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}