{% extends 'common/base.html' %}

{% block title %}
    <title>Register - EstateSphere</title>
{% endblock %}

{% block content %}
    <div class="login-register-wrapper">
        <div class="login-register-card">
            <h2>Create Your Account</h2>
            <p>Sign up to get started</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.errors }}
                    <label for="id_email">Email:</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.password1.errors }}
                    <label for="id_password">Password:</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    {{ form.password2.errors }}
                    <label for="id_confirm_password">Confirm Password:</label>
                    {{ form.password2 }}
                </div>
                <button type="submit" class="btn">Register</button>
                <p class="signup-login-link">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
            </form>
        </div>
    </div>
{% endblock %}